.*
*.stdout
*.simg
*.json
*.qsub
*.core
*.out
clean.sh
license.txt
libs*.sh
input/
output/
runinfo/
parsl_scripts/
parsl_logs/
qsub/
__pycache__
!.gitignore
*~
lists/subjects*.txt
cmd_parsl.auto*
test*