.*
*.stdout
*.simg
*.json
!example_configs/config.json
!example_configs/subjects.json
!example_configs/dataset_description.json
*.qsub
*.core
*.out
clean.sh
license.txt
libs*.sh
input/
output/
runinfo/
parsl_scripts/
parsl_logs/
qsub/
__pycache__
!.gitignore
*~
lists/subject*.txt
cmd_parsl.auto*
test*
redo*
