.*
*.stdout
*.simg
*.json
*.qsub
*.core
*.out
clean.sh
license.txt
local_default*.sh
input/
output/
runinfo/
parsl_scripts/
parsl_logs/
test/
test.py
qsub/
__pycache__
!.gitignore
*~
subjects*.txt
cmd_parsl.auto*
!lists/subjects_example.txt